.App {
  text-align: center;
  height: 100%;
}

html, body, #root {
  height: 100%;
}


.header-bg {
  height: 120px;
  background-color: rgb(107, 107, 54);
  background-image: linear-gradient(to bottom right, rgb(79, 131, 91), rgb(228, 182, 123));
  position: sticky; 
  top: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-around;
  align-items: baseline;
  

}

.header-name {
  text-align: left;
  justify-content: center;
  justify-items: center;
  color: rgb(199, 184, 184);
  margin-left: 10px;
}

.nav {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: flex-end;
    justify-content: flex-end;
    
    
}

.nav-item {
  margin: 0 1rem;
  color: rgb(241, 228, 228);
}

.about {
  font-size: small;
  margin: 1rem;
}

.profile-img {
  border-radius: 15px;
  margin: 1rem;
}

.footer-div {
  position: absolute;
  bottom: 0;
  width: 100%;

}

.footer-list {
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: flex-end;
  justify-content: flex-end;
}

.footer-item {
  margin: 0 .5rem;
}

a {
  color: black !important;
}

a:hover {
  color: rgb(228, 182, 123) !important;
}